
body {
    display: flex;
    flex:1;
    flex-direction: column;
    padding: 0px;
    border: 0px;
}
.topbox {
display: flex;
flex-direction: column;
height: 300px;
width: 100%;
background-color: yellow;
flex: 1;
justify-content: center;


}
.header {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: auto;
    flex-shrink: 1  ;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    gap: 30%;

}
.logo {
    font-weight: bolder;
}

ul {
    display: flex;
    list-style: none;
    gap: 8px;
}
.text1 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap:wrap;
    height: auto;
    width: 300px ;

}
.img{
display: flex;
justify-content: flex-end;
height: 200px;
width: auto;
align-items: flex-end;
padding-bottom: 30px;


}
.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin: 10px;
}
button {
    background-color: rgb(122, 122, 20);
    border-radius: 10%;
    font-weight: bold;
    color: rgb(51, 64, 26);
}
.title2 {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 200px;
}
.cheesepic {
    width: 110px;
    height: auto;
    

    
}
.box2 {
    display: flex;
    text-align: center;
    gap: 42px;
    justify-content: center;
    max-width:auto;
    padding-left: 25%;
    padding-right: 25%;
    flex-wrap: wrap;

}
img.cheesepic{
    border: 10px;
    border-style: solid;
    border-color: yellow;
    border-width: 3px;
    border-radius: 10%;
}
.cheesetext {
    max-width: 110px;
}
.left {
    display: flex;
    justify-content: flex-start;

}
.box3 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 200px;
    background-color: lightyellow;
    align-items: center;
    justify-content: center;
}
.quote {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-style: italic;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
}
.person {
    padding-top: 20px;
    width: max-content;
    justify-content:flex-end;
    padding-left: 60%;
    
    
}